@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<head>
    <style>
        body {
            min-height: 100vh;
        }

    </style>
</head>
<body style="background-color: #b1d795;">
    <!-- Demo header-->
 
        <section class="py-3 header text-center">
            <div class="container py-4">
                <header>
                    <h1 class="display-4" style="font-weight:bold;">Comidas Tipicas</h1>
                
                    
                </header>
            </div>
        </section>


        <section class="pb-5" style=" display: flex;
  justify-content: center;
  align-items: center;">
            <div class="container text-center">
                <!-- Masonry grid -->
                <div class="gallery-wrapper" style="
   align-items: center;" >
                    <!-- Grid sizer -->
                <div class="si" style="display: flex; justify-content:center;">
                <div id="carouselExampleRide" class="carousel slide py-3 car" data-bs-ride="true">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="/css/agua-de-coco-beneficios.jpg" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="/css/image_processing20210312-29999-hg2dr3.jpeg" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="/css/MODELO_DE_FOTO_PARA_O_SOU_BH_Prancheta_1_cópia_4.png" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="/css/MODELO_DE_FOTO_PARA_O_SOU_BH_Prancheta_1_cópia_4.png" class="d-block w-100" alt="...">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleRide" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleRide" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
                </div>
                    <!-- Grid item -->

                <div class="si" style="display: flex; justify-content:center;">
                    <div class=" grid-item mb-4 vapo" style=" background-color:white; box-shadow: 4.0px 8.0px 8.0px hsl(0deg 0% 0% / 0.2); border-radius:1%;  padding: 1rem 1rem;">
                        <div>
                            <h2 class="h4" style="font-weight:bold; text-align: left;">1. Doce de Leite</h2>
                        </div>
                        <img class="imagem img-fluid w-60 mb-3 img-thumbnail shadow-sm rounded-0" src="https://bootstrapious.com/i/snippets/sn-masonry/grid-item-1.png" alt="" style="border-radius:inherit%;">


                        <div style="text-align: left;">
                            <p class="font-italic mb-2">
                                Se doce de leite já é bom, imagina com coco! Você vai precisar de coco fresco ralado, leite, margarina, canela e açúcar. Perfeito para acompanhar outras sobremesas ou ser a sobremesa principal.
                            </p>
                            <p class="font-italic">
                                É um dos doces mais gostosos, pois une o doce de leite com os pedacinhos deliciosos do coco.
                            </p>
                        </div>
                    </div>
                </div>

                  <div class="si" style="display: flex; justify-content:center;">
                    <div class=" grid-item mb-4 vapo" style=" background-color:white; box-shadow: 4.0px 8.0px 8.0px hsl(0deg 0% 0% / 0.2); border-radius:1%;  padding: 1rem 1rem;">
                        <div>
                            <h2 class="h4" style="font-weight:bold; text-align: left;">1. Doce de Leite</h2>
                        </div>
                        <img class="imagem img-fluid w-60 mb-3 img-thumbnail shadow-sm rounded-0" src="https://bootstrapious.com/i/snippets/sn-masonry/grid-item-1.png" alt="" style="border-radius:inherit%;">


                        <div style="text-align: left;">
                            <p class="font-italic mb-2">
                                Se doce de leite já é bom, imagina com coco! Você vai precisar de coco fresco ralado, leite, margarina, canela e açúcar. Perfeito para acompanhar outras sobremesas ou ser a sobremesa principal.
                            </p>
                            <p class="font-italic">
                                É um dos doces mais gostosos, pois une o doce de leite com os pedacinhos deliciosos do coco.
                            </p>
                        </div>
                    </div>
                </div>

                  <div class="si" style="display: flex; justify-content:center;">
                    <div class=" grid-item mb-4 vapo" style=" background-color:white; box-shadow: 4.0px 8.0px 8.0px hsl(0deg 0% 0% / 0.2); border-radius:1%;  padding: 1rem 1rem;">
                        <div>
                            <h2 class="h4" style="font-weight:bold; text-align: left;">1. Doce de Leite</h2>
                        </div>
                        <img class="imagem img-fluid w-60 mb-3 img-thumbnail shadow-sm rounded-0" src="https://bootstrapious.com/i/snippets/sn-masonry/grid-item-1.png" alt="" style="border-radius:inherit%;">


                        <div style="text-align: left;">
                            <p class="font-italic mb-2">
                                Se doce de leite já é bom, imagina com coco! Você vai precisar de coco fresco ralado, leite, margarina, canela e açúcar. Perfeito para acompanhar outras sobremesas ou ser a sobremesa principal.
                            </p>
                            <p class="font-italic">
                                É um dos doces mais gostosos, pois une o doce de leite com os pedacinhos deliciosos do coco.
                            </p>
                        </div>
                    </div>
                </div>

                  <div class="si" style="display: flex; justify-content:center;">
                    <div class=" grid-item mb-4 vapo" style=" background-color:white; box-shadow: 4.0px 8.0px 8.0px hsl(0deg 0% 0% / 0.2); border-radius:1%;  padding: 1rem 1rem;">
                        <div>
                            <h2 class="h4" style="font-weight:bold; text-align: left;">1. Doce de Leite</h2>
                        </div>
                        <img class="imagem img-fluid w-60 mb-3 img-thumbnail shadow-sm rounded-0" src="https://bootstrapious.com/i/snippets/sn-masonry/grid-item-1.png" alt="" style="border-radius:inherit%;">


                        <div style="text-align: left;">
                            <p class="font-italic mb-2">
                                Se doce de leite já é bom, imagina com coco! Você vai precisar de coco fresco ralado, leite, margarina, canela e açúcar. Perfeito para acompanhar outras sobremesas ou ser a sobremesa principal.
                            </p>
                            <p class="font-italic">
                                É um dos doces mais gostosos, pois une o doce de leite com os pedacinhos deliciosos do coco.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="si" style="display: flex; justify-content:center;">
                    <div class=" grid-item mb-4 vapo" style=" background-color:white; box-shadow: 4.0px 8.0px 8.0px hsl(0deg 0% 0% / 0.2); border-radius:1%;  padding: 1rem 1rem;">
                        <div>
                            <h2 class="h4" style="font-weight:bold; text-align: left;">1. Doce de Leite</h2>
                        </div>
                        <img class="imagem img-fluid w-60 mb-3 img-thumbnail shadow-sm rounded-0" src="https://bootstrapious.com/i/snippets/sn-masonry/grid-item-1.png" alt="" style="border-radius:inherit%;">


                        <div style="text-align: left;">
                            <p class="font-italic mb-2">
                                Se doce de leite já é bom, imagina com coco! Você vai precisar de coco fresco ralado, leite, margarina, canela e açúcar. Perfeito para acompanhar outras sobremesas ou ser a sobremesa principal.
                            </p>
                            <p class="font-italic">
                                É um dos doces mais gostosos, pois une o doce de leite com os pedacinhos deliciosos do coco.
                            </p>
                        </div>
                    </div>
                </div>
                   
                </div>
            </div>
        </section>

    
   

    <!-- Resources-->
    
   
</body>
