@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<head>
    <style>
        body {
            min-height: 100vh;
        }

    </style>
</head>
<body>
    <!-- Demo header-->
 
        <section class="py-5 header text-center">
            <div class="container py-4">
                <header>
                    <h1 class="display-4">Comidas Tipicas</h1>
                    <p class="font-italic text-muted mb-1">Use Masonry layouts with Bootstrap 4 grid system, using imagesLoaded plugin to fix the page loading issue.</p>
                    <p class="font-italic text-muted">
                        Snippet by <a class="text-dark" href="https://bootstrapious.com/">
                            <u>
                                Se doce de leite já é bom, imagina com coco! Você vai precisar de coco fresco ralado, leite, margarina, canela e açúcar. Perfeito para acompanhar outras sobremesas ou ser a sobremesa principal.

                                É um dos doces mais gostosos, pois une o doce de leite com os pedacinhos deliciosos do coco.
                            </u>
                        </a>
                    </p>
                </header>
            </div>
        </section>


        <section class="pb-5" style=" display: flex;
  justify-content: center;
  align-items: center;">
            <div class="container text-center">
                <!-- Masonry grid -->
                <div class="gallery-wrapper" style="
   align-items: center;" >
                    <!-- Grid sizer -->
                  

                    <!-- Grid item -->
                    <div class="si" style="display: flex; justify-content:center;">
                    <div class=" grid-item mb-4 vapo" style="box-shadow: 4.0px 8.0px 8.0px hsl(0deg 0% 0% / 0.2); border-radius:2%;  padding: 1rem 1rem;">
                            <div>
                                <h2 class="h4" style="font-weight:bold; text-align: left;">1. Doce de Leite</h2>
                            </div>
                        <img class="imagem img-fluid w-60 mb-3 img-thumbnail shadow-sm rounded-0" src="https://bootstrapious.com/i/snippets/sn-masonry/grid-item-1.png" alt="">


                            <div style="text-align: left;">
                                <p class="small text-muted font-italic mb-2">
                                    Se doce de leite já é bom, imagina com coco! Você vai precisar de coco fresco ralado, leite, margarina, canela e açúcar. Perfeito para acompanhar outras sobremesas ou ser a sobremesa principal.
                                </p>
                                <p class="small text-muted font-italic">
                                    É um dos doces mais gostosos, pois une o doce de leite com os pedacinhos deliciosos do coco.
                                </p>
                            </div>
                    </div> 
                    </div>

                 <div class="si" style="display: flex; justify-content:center;">
                    <div class=" grid-item mb-4 vapo" style="box-shadow: 4.0px 8.0px 8.0px hsl(0deg 0% 0% / 0.2); border-radius:2%;  padding: 1rem 1rem;">
                            <div>
                                <h2 class="h4" style="font-weight:bold; text-align: left;">1. Doce de Leite</h2>
                            </div>
                        <img class="imagem img-fluid w-60 mb-3 img-thumbnail shadow-sm rounded-0" src="https://bootstrapious.com/i/snippets/sn-masonry/grid-item-1.png" alt="">


                            <div style="text-align: left;">
                                <p class="small text-muted font-italic mb-2">
                                    Se doce de leite já é bom, imagina com coco! Você vai precisar de coco fresco ralado, leite, margarina, canela e açúcar. Perfeito para acompanhar outras sobremesas ou ser a sobremesa principal.
                                </p>
                                <p class="small text-muted font-italic">
                                    É um dos doces mais gostosos, pois une o doce de leite com os pedacinhos deliciosos do coco.
                                </p>
                            </div>
                    </div> 
                    </div>

                <div class="si" style="display: flex; justify-content:center;">
                    <div class=" grid-item mb-4 vapo" style="box-shadow: 4.0px 8.0px 8.0px hsl(0deg 0% 0% / 0.2); border-radius:2%;  padding: 1rem 1rem;">
                        <div>
                            <h2 class="h4" style="font-weight:bold; text-align: left;">1. Doce de Leite</h2>
                        </div>
                        <img class="imagem img-fluid w-60 mb-3 img-thumbnail shadow-sm rounded-0" src="https://bootstrapious.com/i/snippets/sn-masonry/grid-item-1.png" alt="">


                        <div style="text-align: left;">
                            <p class="small text-muted font-italic mb-2">
                                Se doce de leite já é bom, imagina com coco! Você vai precisar de coco fresco ralado, leite, margarina, canela e açúcar. Perfeito para acompanhar outras sobremesas ou ser a sobremesa principal.
                            </p>
                            <p class="small text-muted font-italic">
                                É um dos doces mais gostosos, pois une o doce de leite com os pedacinhos deliciosos do coco.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="si" style="display: flex; justify-content:center;">
                    <div class=" grid-item mb-4 vapo" style="box-shadow: 4.0px 8.0px 8.0px hsl(0deg 0% 0% / 0.2); border-radius:2%;  padding: 1rem 1rem;">
                        <div>
                            <h2 class="h4" style="font-weight:bold; text-align: left;">1. Doce de Leite</h2>
                        </div>
                        <img class="imagem img-fluid w-60 mb-3 img-thumbnail shadow-sm rounded-0" src="https://bootstrapious.com/i/snippets/sn-masonry/grid-item-1.png" alt="">


                        <div style="text-align: left;">
                            <p class="small text-muted font-italic mb-2">
                                Se doce de leite já é bom, imagina com coco! Você vai precisar de coco fresco ralado, leite, margarina, canela e açúcar. Perfeito para acompanhar outras sobremesas ou ser a sobremesa principal.
                            </p>
                            <p class="small text-muted font-italic">
                                É um dos doces mais gostosos, pois une o doce de leite com os pedacinhos deliciosos do coco.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="si" style="display: flex; justify-content:center;">
                    <div class=" grid-item mb-4 vapo" style="box-shadow: 4.0px 8.0px 8.0px hsl(0deg 0% 0% / 0.2); border-radius:2%;  padding: 1rem 1rem;">
                        <div>
                            <h2 class="h4" style="font-weight:bold; text-align: left;">1. Doce de Leite</h2>
                        </div>
                        <img class="imagem img-fluid w-60 mb-3 img-thumbnail shadow-sm rounded-0" src="https://bootstrapious.com/i/snippets/sn-masonry/grid-item-1.png" alt="">


                        <div style="text-align: left;">
                            <p class="small text-muted font-italic mb-2">
                                Se doce de leite já é bom, imagina com coco! Você vai precisar de coco fresco ralado, leite, margarina, canela e açúcar. Perfeito para acompanhar outras sobremesas ou ser a sobremesa principal.
                            </p>
                            <p class="small text-muted font-italic">
                                É um dos doces mais gostosos, pois une o doce de leite com os pedacinhos deliciosos do coco.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="si" style="display: flex; justify-content:center;">
                    <div class=" grid-item mb-4 vapo" style="box-shadow: 4.0px 8.0px 8.0px hsl(0deg 0% 0% / 0.2); border-radius:2%;  padding: 1rem 1rem;">
                        <div>
                            <h2 class="h4" style="font-weight:bold; text-align: left;">1. Doce de Leite</h2>
                        </div>
                        <img class="imagem img-fluid w-60 mb-3 img-thumbnail shadow-sm rounded-0" src="https://bootstrapious.com/i/snippets/sn-masonry/grid-item-1.png" alt="">


                        <div style="text-align: left;">
                            <p class="small text-muted font-italic mb-2">
                                Se doce de leite já é bom, imagina com coco! Você vai precisar de coco fresco ralado, leite, margarina, canela e açúcar. Perfeito para acompanhar outras sobremesas ou ser a sobremesa principal.
                            </p>
                            <p class="small text-muted font-italic">
                                É um dos doces mais gostosos, pois une o doce de leite com os pedacinhos deliciosos do coco.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="si" style="display: flex; justify-content:center;">
                    <div class=" grid-item mb-4 vapo" style="box-shadow: 4.0px 8.0px 8.0px hsl(0deg 0% 0% / 0.2); border-radius:2%;  padding: 1rem 1rem;">
                        <div>
                            <h2 class="h4" style="font-weight:bold; text-align: left;">1. Doce de Leite</h2>
                        </div>
                        <img class="imagem img-fluid w-60 mb-3 img-thumbnail shadow-sm rounded-0" src="https://bootstrapious.com/i/snippets/sn-masonry/grid-item-1.png" alt="">


                        <div style="text-align: left;">
                            <p class="small text-muted font-italic mb-2">
                                Se doce de leite já é bom, imagina com coco! Você vai precisar de coco fresco ralado, leite, margarina, canela e açúcar. Perfeito para acompanhar outras sobremesas ou ser a sobremesa principal.
                            </p>
                            <p class="small text-muted font-italic">
                                É um dos doces mais gostosos, pois une o doce de leite com os pedacinhos deliciosos do coco.
                            </p>
                        </div>
                    </div>
                </div>

                   
                   
                </div>
            </div>
        </section>

    
   

    <!-- Resources-->
    
   
</body>
