@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html>
<head>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<style>
body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
</style>
</head>
<body style="background-color:#b1d795;">

<!-- w3-content defines a container for fixed size centered content, 
and is wrapped around the whole page content, except for the footer in this example -->
<div class="w3-content" style="max-width:1400px">

<!-- Header -->
<header class="w3-container w3-center w3-padding-32"> 
  <h1><b>COCO DA BAIA</bstyle></h1>
  <p>Seja bem vindo pro blog do <span class="w3-tag">COCO</span></p>
</header>

<!-- Grid -->
<div class="w3-row">

<!-- Blog entries -->
<div class="w3-col l8 s12">
  <!-- Blog entry -->
  <div class="w3-card-4 w3-margin w3-white">
                    <img src="/css/image_processing20210312-29999-hg2dr3.jpeg" alt="Nature" style="width:100%; height:400px;">
    <div class="w3-container">
                        <h3 style=" font-weight: bold; padding: 0px;"><b>Introdução ao Coco</b></h3>
    <span class="w3-opacity">13 de Junho, 2023</span>
    </div>

    <div class="w3-container">
      <p>O Cocos nucifera é cultivado em cerca de 90 países que destinam o fruto, principalmente, para
a produção de copra e óleo, principais derivados do coco comercializados no mercado
internacional.</p>
      <div class="w3-row">
        <div class="w3-col m8 s12">
                                <a href="/Home/Introducao" target="_blank">
                                    <p><button class="w3-button w3-padding-large w3-white w3-border"><b>LEIA MAIS »</b></button></p>
                                </a>
        </div>
    
      </div>
    </div>
  </div>
  <hr>

  <!-- Blog entry -->
  <div class="w3-card-4 w3-margin w3-white">
                    <img src="/css/MODELO_DE_FOTO_PARA_O_SOU_BH_Prancheta_1_cópia_4.png" alt="Norway" style="width:100%; height:400px;">
    <div class="w3-container">
                        <h3 style=" font-weight: bold;"><b>Principais Comidas Tipicas</b></h3>
                        <span class="w3-opacity">13 de Junho, 2023</span>
    </div>

    <div class="w3-container">
      <p>A pamonha se destaca como um dos pratos mais famosos da festa junina.
          O seu principal ingrediente é o milho. Confira a seguir uma receita da versão doce dessa iguaria: Ingredientes 1. 10 espigas de milho verde 2. 1 xícara (chá) de manteiga sem sal derretida 3
          . 1 pitada de sal 4. 1 xícara (chá) de açúcar refinado.</p>
      <div class="w3-row">
        <div class="w3-col m8 s12">
                                <a href="/Home/Comida" target="_blank">
                                    <p><button class="w3-button w3-padding-large w3-white w3-border"><b>LEIA MAIS »</b></button></p>
          </a>
        </div>

      </div>
    </div>
  </div>
<!-- END BLOG ENTRIES -->
</div> 

<!-- Introduction menu -->
<div class="w3-col l4">
  <!-- About Card -->
  <div class="w3-card w3-margin w3-margin-top">
  <img src="/css/1005524_1_1541701676.jpg" style="width:100%; height:300px;">
    <div class="w3-container w3-white">
                        <h4 style=" font-weight: bold;"><b>O que é o Coco</b></h4>
      <p>O coco, ou coco-da-baía é o fruto do coqueiro. A casca é espessa e composta principalmente por fibras,
          o interior do fruto possui uma amêndoa branca usada na alimentação. O valor nutritivo do coco varia de
          acordo com seu estado de maturação, de forma geral é rico em sais minerais, como o potássio, sódio, fósforo e fibras.</p>
    </div>
  </div><hr>
  
  <!-- Posts -->
  <div class="w3-card w3-margin">
    <div class="w3-container w3-padding">
                        <h4 style=" font-weight: bold;">  Post Principais</h4>
    </div>
    <ul class="w3-ul w3-hoverable w3-white">


        <a href="/Home/Introducao" target="_blank" style="text-decoration: none;">
                        <li class="w3-padding-16">
                            <img src="/css/image_processing20210312-29999-hg2dr3.jpeg" alt="Image" class="w3-left w3-margin-right" style="width:50px; border-radius:10%;">
                            <span class="w3-large">Introdução ao Coco</span><br>
      </li>
                        </a>



                        <a href="/Home/Comida" target="_blank" style="text-decoration: none;">
             <li class="w3-padding-16">
                            <img src="/css/MODELO_DE_FOTO_PARA_O_SOU_BH_Prancheta_1_cópia_4.png" alt="Image" class="w3-left w3-margin-right" style="width:50px; border-radius:10%;">
        <span class="w3-large">Principais Comidas Tipicas</span><br>
                        </li>
                        </a>



                        <a href="/Home/Saude" target="_blank" style="text-decoration: none;">
                        <li class="w3-padding-16">
                            <img src="/css/agua-de-coco-beneficios.jpg" alt="Image" class="w3-left w3-margin-right" style="width:50px; border-radius:10%;">
                            <span class="w3-large">Coco na Saude</span><br>
                        </li>
                        </a>




                        <a href="/Home/Artesanato" target="_blank" style="text-decoration: none;">
                        <li class="w3-padding-16">
                            <img src="/css/jangada-barquinho-de-casca-de-coco-jangada.jpg" alt="Image" class="w3-left w3-margin-right" style="width:50px; border-radius:10%;">
                            <span class="w3-large">O que dá pra fazer com o Coco</span><br>
                        </li>
                        </a>
     
    </ul>
  </div>
  <hr> 
 
  <!-- Labels / tags -->
  <div class="w3-card w3-margin">
    <div class="w3-container w3-padding">
                        <h4 style=" font-weight: bold;">Palavras Chave</h4>
    </div>
    <div class="w3-container w3-white" style="padding-top: 10px;">
    <p><span class="w3-tag w3-black w3-margin-bottom">Coco</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Sergipe</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Presente</span>
      <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Coqueiro</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Pamonha</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Casca</span>
      <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Comida</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Saude</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Barco</span>
      <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Historia</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Lugares</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Lojas</span>
      <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Artesanato</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Passado</span>
    </p>
    </div>
  </div>
  
<!-- END Introduction Menu -->
</div>

<!-- END GRID -->
</div><br>

<!-- END w3-content -->
</div>

</body>
</html>
