@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<body style="background-color:#b1d795;">
<div class="card text-bg-light mb-3" style="width: 95%; padding:20px; ">
@*  <div class="card-header">Introdução ao coco:</div>*@
<form class="row g-3">
  <div class="col-md-6">
    <label for="inputEmail4" class="form-label">Email</label>
    <input type="email" class="form-control" id="inputEmail4">
  </div>
  <div class="col-md-6">
    <label for="inputPassword4" class="form-label">Password</label>
    <input type="password" class="form-control" id="inputPassword4">
  </div>
  <div class="col-12">
    <label for="inputAddress" class="form-label">Address</label>
    <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
  </div>
  <div class="col-12">
    <label for="inputAddress2" class="form-label">Address 2</label>
    <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
  </div>
  <div class="col-md-6">
    <label for="inputCity" class="form-label">City</label>
    <input type="text" class="form-control" id="inputCity">
  </div>
  <div class="col-md-4">
    <label for="inputState" class="form-label">State</label>
    <select id="inputState" class="form-select">
      <option selected>Choose...</option>
      <option>...</option>
    </select>
  </div>
  <div class="col-md-2">
    <label for="inputZip" class="form-label">Zip</label>
    <input type="text" class="form-control" id="inputZip">
  </div>
  <div class="col-12">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="gridCheck">
      <label class="form-check-label" for="gridCheck">
        Check me out
      </label>
    </div>
  </div>
  <div class="col-12">
    <button type="submit" class="btn btn-primary">Sign in</button>
  </div>
</form>
  <div class="card-body" >
    <p class="card-text">
         <h5>Introdução ao Coco:</h5>
    O Cocos nucifera é cultivado em cerca de 90 países que destinam o fruto, principalmente, para
    a produção de copra e óleo, principais derivados do coco comercializados no mercado
    internacional. O Cocos nucifera é cultivado em cerca de 90 países que destinam o fruto,
    principalmente, para a produção de copra e óleo, principais derivados do coco comercializados
    no mercado internacional. O Cocos nucifera é cultivado em cerca de 90 países que destinam o
    fruto, principalmente, para a produção de copra e óleo, principais derivados do coco
    comercializados no mercado internacional.
    </p></center>
    <p> O coqueiro foi introduzido no Brasil através da Bahia, recebendo a denominação de coco-da-
    baía, e expandiu-se inicialmente pelo litoral nordestino, onde se encontram os principais
    produtores nacionais, Bahia, Sergipe e Ceará. Depois, foi disseminado por quase todo País,
    com exceção</p></center>
     <p> A Região Nordeste continua a maior produtora do Brasil, com 82,9% da área e 74,0% da
    produção nacional.</p></center>

    <div class="card text-bg-light mb-3" style=" width: 90%; padding:20px;">
  <div class="card-body">
    <p class="card-text">
        <h4>Atividades</h4>
        No Brasil, os cultivos destinam-se à produção de coco seco in natura, coco ralado, leite de
    coco, óleo de coco e outros, derivados do coco seco; e água de coco, a partir do coco verde. As
    variedades de coqueiro mais utilizadas, no Brasil, conforme suas aptidões são a Gigante do
    Brasil da Praia do Forte (GBrPF).</p></center>
 
    <p>Em geral, o coco seco usado para a produção de coco ralado provém da variedade Gigante, o
    coco verde para a produção de água de coco é obtido da variedade anão e o híbrido destina-se
    às duas finalidades, tanto para a produção de coco seco quanto de coco verde. O coco verde e
    o coco seco podem ser obtidos durante todos os meses do ano, não existindo, portanto, uma
    estação climática definida para a colheita que é realizada normalmente em dois períodos de
    maturação, conforme sua finalidade ou mercado a que se destina.</p></center>
    <h4>Estância em relação ao coco</h4>
    <p>O segundo maior produtor é o Município de Moju, no Pará, O terceiro maior produtor nacional
    é o Município de Conde (BA), destacam-se como quarto e sétimo produtores nacionais, os
    municípios de Estância (SE) e Santa Luzia do Itanhy (SE), localizados na Mesorregião do Leste
    sergipano onde os maiores plantios de coqueiro encontram-se próximos ao Litoral do Estado.
    O coco tem papel importante na economia de Estância, já que a cidade utiliza muito da
    agricultura como fonte de renda, portanto, o coco vem sendo de muita importância na
    economia, ainda mais no período junino, quando se utiliza do coco para fazer diversas comidas
    típicas consumidas neste período de festa não só pelos estancianos, mas por todo o povo
    brasileiro, o que faz com que a cidade além de vender muito coco para outros estados, ainda
    distribuí para a população comemorar a festa mais amada da cidade.</p></center>

   <h4>Sergipe em relação ao coco</h4>
   <p> No Brasil as maiores plantações e produções de coco se concentram na região
    do Nordeste. A cocoicultura no estado de Sergipe representa importante fonte
    de renda para muitos produtores, ocupando aproximadamente 42.000 mil ha,
    dos quais 80% estão localizados em área de baixada litorânea e tabuleiros
    costeiros. Atualmente é o estado com a segunda maior produção de coco no
    país e o terceiro em área plantada, destinado principalmente a produção de
    coco seco. Embora nos últimos anos haja uma redução de participação do
    estado de Sergipe em termos de área plantada com a fruta, observa-se que a
    contribuição do estado para a produção nordestina e brasileira aumentou
    substancialmente, graças ao incremento em produtividade.
    </p></center>
     <h4>Nordeste em relação ao coco</h4>
    <p>
    Em 2017, a Região Nordeste foi a maior produtora de coco do país, com 74,0% da
    produção nacional. A Bahia produziu 351 milhões de frutos, o Sergipe, 234 milhões, e o
    Ceará 187 milhões. Porém, o setor vem sofrendo forte concorrência e perdendo mercado
    para Indonésia, Filipinas e Índia, os maiores produtores mundiais, que chegam a exportar
    água de coco para o Brasil. Além dos problemas climáticos, a baixa produtividade dos
    coqueiros na Região Nordeste é o resultado de fatores relacionados à variedade de coco
    explorada e ao nível tecnológico empregado nas regiões litorâneas. Nessas áreas, ainda
    predomina o sistema de cultivo semiextrativista, com baixa fertilidade e sem adoção de
    práticas de manejo cultural. Os três estados que possuem as maiores produções, Bahia,
    Sergipe e Ceará, apresentam rendimento três vezes menor que o de Pernambuco, que
    está em 5º na produção nacional. Isso porque grande parte dos coqueirais desses três
    estados estão localizados em zonas litorâneas e cultivados em sistemas semi extrativistas.</p></center>
     </div>  
</body>
