@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<head>

</head>
<body>
    7 BENEFÍCIOS DO COCO PARA A SAÚDE
    Tempo de leitura: 3 min.
    beneficios-do-coco-para-a-saude.jpeg

    Você já ouviu falar nos benefícios do coco para a saúde? Além de muito saborosa, essa fruta típica de regiões tropicais que faz sucesso em diversos tipos de receitas doces e salgadas e ainda oferece uma série de vantagens para o organismo. Por ser muito versátil, o coco pode ser consumido de muitas formas, incluindo a polpa, a água, o leite e a farinha, o que amplia as possibilidades de aproveitar suas propriedades no dia a dia. Conheça os benefícios que essa fruta deliciosa traz para a sua saúde:

    1. A ÁGUA DE COCO É EXCELENTE PARA HIDRATAR O CORPO E REPOR OS ELETRÓLITOS
    Composta por 93% de água e 7% de carboidratos, proteínas, vitaminas e minerais, a água de coco é uma bebida muito eficiente para a reposição dos líquidos e dos sais perdidos por meio do suor ou em casos de diarreia. Entre seus minerais, ganham destaque o potássio, o cálcio e o magnésio, que estão presentes em quantidades superiores em relação aos isotônicos industrializados. Dessa forma, a água de coco é mais eficiente na reposição eletrolítica – e sem a desvantagem de oferecer doses extras de sódio e açúcar refinado.

    2. COMBATE AO ENVELHECIMENTO E A DIVERSAS DOENÇAS
    Devido à presença de vitaminas do complexo B e da vitamina C, o coco ajuda a combater os danos causados pelos radicais livres, preservando o material genético das células. Dessa forma, tanto a água de coco quanto a polpa da fruta têm função antioxidante. Como resultado, seu consumo ajuda o organismo a combater o envelhecimento e a prevenir doenças degenerativas, como mal de Parkinson e mal de Alzheimer, e alguns tipos de câncer – condições que são favorecidas pelo estresse oxidativo provocado pela ação dos radicais livres.

    3. SENSAÇÃO DE SACIEDADE
    A polpa do coco maduro é muito rica em nutrientes como fibras e gorduras boas, que ajudam a prolongar a sensação de saciedade depois de uma refeição e evitam que a pessoa “belisque” lanchinhos pouco saudáveis. Dessa forma, o consumo dessa fruta pode até mesmo contribuir em processos de emagrecimento.

    Para isso, porém, é preciso incluí-la na dieta com moderação, pois uma porção de 100 gramas da polpa seca tem 390 calorias.

    4. MELHORA DA FUNÇÃO INTESTINAL
    O alto teor de fibras presente na polpa do coco contribui para o aumento do bolo fecal, o que estimula os movimentos peristálticos que conduzem as fezes até sua eliminação. Dessa maneira, a inclusão da fruta no cardápio ajuda a estimular o bom funcionamento do intestino, facilitando a eliminação dos resíduos.

    5. O ÓLEO DE COCO É UM EXCELENTE HIDRATANTE
    O óleo extraído do coco é utilizado em diversos hidratantes corporais e máscaras capilares pelo fato de ser capaz de fortalecer a barreira protetora da pele e dos cabelos, impedindo a perda de moléculas de água. Assim, esse ingrediente tem um alto poder umectante e ajuda a manter pele, unhas e cabelos íntegros e hidratados quando utilizado em produtos como sabonetes, shampoos, cremes e pomadas. Contudo, vale lembrar que o óleo de coco em altas doses pode entupir os poros e agravar quadros de acne, por isso o melhor é optar por produtos de confiança e indicados pelo dermatologista.

    6. A FARINHA DE COCO É RICA EM FIBRAS
    Por ter um alto teor de fibras, a farinha de coco contribui para o bom funcionamento do intestino e reduz a absorção do açúcar e das gorduras provenientes da dieta, ajudando a prevenir doenças como constipação intestinal, diabetes e colesterol alto. Além disso, suas fibras têm uma alta capacidade de absorver água, de modo que elas se expandem e formam um gel quando chegam no estômago, o que contribui para a saciedade.

    Por isso, a farinha de coco pode ser utilizada em alimentos como bolos, biscoitos e pães em dietas destinadas à perda de peso. Ainda, a farinha de coco é hipoalergênica e livre de glúten, sendo portanto uma boa alternativa para pessoas com alergias alimentares ou doença celíaca.

    7. O LEITE DE COCO É NUTRITIVO E NÃO CONTÉM LACTOSE
    Fonte de gorduras boas, vitaminas do complexo B, vitamina C, potássio, cálcio, magnésio, fósforo e outros minerais, o leite de coco tem uma textura cremosa e um sabor muito rico, de forma que ele pode ser utilizado em diversos pratos doces e salgados, incluindo bolos, tortas, suflês, moquecas etc.

    Além disso, como todo leite de origem vegetal, o leite de coco não contém lactose, constituindo uma opção segura para quem sofre de intolerância ou alergia a esse açúcar. Agora que você conhece os benefícios do coco para a saúde, aproveite a maior disponibilidade dessa fruta nas estações mais quentes do ano para incluí-la na sua alimentação. Ela é deliciosa e ainda faz bem!
</body>
